<html>
    <head th:replace="layout/plantilla :: head">
        <title>Administrar Foro</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div th:if="${foros != null and !foros.empty}"/>
        <h1>Foros</h1>
        <table border="3">
            <thead>
                <tr>
                    <th>Id_Foro</th>
                    <th>Id_cliente</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${foros}">
                    <td th:text="${item.idForo}"></td>
                    <td th:text="${item.idCliente}"></td>
                    <td th:text="${item.tituloforo}"></td>
                    <td th:text="${item.descripcion}"></td>
                    <td><a th:href="@{/modificarForo/} + ${item.idForo}">Modificar</a></td>
                    <td><a th:href="@{/eliminarForo/} + ${item.idForo}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${foros == null or foros.empty}">
        No tenemos lista de foros para mostrar
    </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>