<html>
    <head th:replace="layout/plantilla :: head">
        <title>Administrar Reservacion</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div th:if="${reservas != null and !reservas.empty}"/>
        <h1>Reservaciones</h1>
        <table border="2">
            <thead>
                <tr>
                    <th>  Nombre</th>
                    <th>  Apellido1</th>
                    <th>  Apellido2</th>
                    <th>Correo</th>
                    <th> Fecha de reservacion</th>
                    <th>Descripcion</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${reservas}">
                    <td th:text="${item.nombre}"></td>
                    <td th:text="${item.apellido1}"></td>
                    <td th:text="${item.apellido2}"></td>
                    <td th:text="${item.correo}"></td>
                    <td th:text="${item.fechaReserva}"></td>
                    <td th:text="${item.descripcion}"></td>
                    <td><a th:href="@{/modificarReserva/} + ${item.idReserva}">Modificar</a></td>
                    <td><a th:href="@{/eliminarReserva/} + ${item.idReserva}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${reservas == null or reservas.empty}">
        No tenemos lista de reservas para mostrar
    </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
