<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">
        </header>
        <h2>Datos del Emergencias</h2>
        <a th:href="@{/EmergenciasGuardar}">Regresar</a>
        <br>
        <br>
        <form th:action="@{/guardarEmergencias}" method="POST"
            th:object="${emergencias}">
            <input type="hidden" name="idEmergencias" th:field="*{idEmergencias}">
            <label for="IdCliente">Id del Cliente </label>
            <input type="text" id="idCliente" name="idCliente" th:field="*{idCliente}">
            <br>
            <label for="Nombre">Nombre </label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}">
            <br>
            <label for="Apellido1">Primer apellido </label>
            <input type="text" id="apellido1" name="apellido1" th:field="*{apellido1}">
            <br>
            <label for="Apellido2">Segundo apellido </label>
            <input type="text" id="apellido2" name="apellido2" th:field="*{apellido2}">
            <br>
            <label for="Descripcion">Emergencia </label>
            <input type="text" id="Emergencia" name="descripcion" th:field="*{descripcion}">
            <br>
            
            <input type="submit" name="Registrar emergencias" value="Registrar emergencias">
        </form>
        <br>
        <br>
        <footer th:replace="layout/plantilla :: footer">
    </body>
</html>
